*{
    margin: 0;
    padding: 0;
}
.container{
    width: 344px;
    height: 344px;
    background: white;
    color: white;
    border: 2px solid yellow;
    background-image: url(Salman_Khan_in_2023_\(1\)_\(cropped\).webp);
    background-repeat: no-repeat;
    background-size: 63px 35px;
    background-position: top center;

}
/* body{
    
    background-image: url(Salman_Khan_in_2023_\(1\)_\(cropped\).webp);
    background-repeat: no-repeat;
    background-size: contain;
} */